* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2', cursive;
}
header {
    height: 70px;
    width: 100%;
    background-color: #ff5b5e;
    text-align: center;
    position: fixed;
}
header #logo {
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
    margin: auto;
    background-color: #1e2d3c;
}
 main {
     position: absolute;
     top: 100px;
     left: 50%;
     transform: translatex(-50%);
     z-index: -1;
     padding-bottom: 100px;
 }
#brescia {
    border: 4px solid white;
    width: 200px;
    height: 150px;
    background-image: url("img/brescia.jpg");
    background-position: top right;
    position: relative;
}
.città {
    border: 4px solid white;
    border-top: none;
    /* solo la prima pic(.brescia) ha tutti i bordi*/

    width: 200px;
    height: 150px;
    position: relative;
    background-size: cover;
}

#milano {
    background-image: url("img/milano.jpg");
    background-position: top right;
}
#wuhan {
    background-image: url("img/wuhan.jpg");
    background-position: top left;
}
#berlino {
    background-image: url("img/berlino.jpg");
    background-position: top left;
}
#città_casuale {
    background-image: url("img/città.jpg");
    background-position: top left;
}
main p {
    color: white;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px;
    font-size: 18px;
}

#opaco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

#opaco:hover {
    background-color: rgba(0,0,0,0);
}

#opaco:hover p {
    background-color: rgba(41, 241, 195, 0.7);
    width: 100%;
    text-align: center;
}
